@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./styles/utility.css";
@import "@fontsource-variable/roboto";

@custom-variant dark (&:is(.dark *));
@custom-variant data-active (&:where(.active), &:where([data-state="active"]), &:where([data-active]:not([data-active="false"])));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --primary: oklch(0.4905 0.0915 299.17);
  --on-primary: oklch(1 0 0);
  --primary-container: oklch(0.9172 0.0496 304.81);
  --on-primary-container: oklch(0.4047 0.0933 298.64);
  --secondary: oklch(0.4865 0.0345 302.48);
  --on-secondary: oklch(1 0 0);
  --secondary-container: oklch(0.9176 0.0359 307.19);
  --on-secondary-container: oklch(0.3992 0.0362 302.18);
  --tertiary: oklch(0.4919 0.0619 3.65);
  --on-tertiary: oklch(1 0 0);
  --tertiary-container: oklch(0.9191 0.0432 5.48);
  --on-tertiary-container: oklch(0.4051 0.0596 2.72);
  --error: oklch(0.506 0.1927 27.7);
  --on-error: oklch(1 0 0);
  --error-container: oklch(0.9183 0.041771 25.2259);
  --on-error-container: oklch(0.4171 0.170153 27.3788);
  --background: oklch(0.9838 0.0128 321.89);
  --on-background: oklch(0.2265 0.01 303.71);
  --surface: oklch(0.9838 0.0128 321.89);
  --on-surface: oklch(0.2265 0.01 303.71);
  --surface-variant: oklch(0.9154 0.0165 313.61);
  --on-surface-variant: oklch(0.3977 0.0158 305.69);
  --outline: oklch(0.5702 0.0162 308.14);
  --outline-variant: rgb(203 196 207);
  --shadow: oklch(0 0 0);
  --scrim: oklch(0 0 0);
  --inverse-surface: oklch(0.3107 0.0113 308.06);
  --inverse-on-surface: oklch(0.9591 0.0123 317.74);
  --inverse-primary: oklch(0.8344 0.0928 301.32);
  --primary-fixed: oklch(0.9172 0.0496 304.81);
  --on-primary-fixed: oklch(0.2336 0.0966 295.34);
  --primary-fixed-dim: oklch(0.8344 0.0928 301.32);
  --on-primary-fixed-variant: oklch(0.4047 0.0933 298.64);
  --secondary-fixed: oklch(0.9176 0.0359 307.19);
  --on-secondary-fixed: oklch(0.2264 0.0355 301.51);
  --secondary-fixed-dim: oklch(0.8308 0.0364 305.44);
  --on-secondary-fixed-variant: oklch(0.3992 0.0362 302.18);
  --tertiary-fixed: oklch(0.9191 0.0432 5.48);
  --on-tertiary-fixed: oklch(0.2316 0.0567 2.29);
  --tertiary-fixed-dim: oklch(0.8357 0.069 3.79);
  --on-tertiary-fixed-variant: oklch(0.4051 0.0596 2.72);
  --surface-dim: oklch(0.8893 0.0126 317.74);
  --surface-bright: oklch(0.9838 0.0128 321.89);
  --surface-container-lowest: oklch(1 0 0);
  --surface-container-low: oklch(0.9661 0.014 318.7);
  --surface-container: oklch(0.95 0.0124 317.74);
  --surface-container-high: oklch(0.9327 0.013 321.9);
  --surface-container-highest: oklch(0.9145 0.0131 321.9);

  /* TODO: convert to oklch */
  --boysenberry: rgb(142 73 85);
  --on-boysenberry: rgb(255 255 255);
  --boysenberry-container: rgb(255 217 221);
  --on-boysenberry-container: rgb(114 51 62);
  --sienna: rgb(140 78 40);
  --on-sienna: rgb(255 255 255);
  --sienna-container: rgb(255 219 201);
  --on-sienna-container: rgb(111 56 19);
  --warning: rgb(127 86 15);
  --on-warning: rgb(255 255 255);
  --warning-container: rgb(255 221 178);
  --on-warning-container: rgb(98 64 0);
  --khaki: rgb(117 91 11);
  --on-khaki: rgb(255 255 255);
  --khaki-container: rgb(255 223 147);
  --on-khaki-container: rgb(89 68 0);
  --success: rgb(75 102 44);
  --on-success: rgb(255 255 255);
  --success-container: rgb(204 237 164);
  --on-success-container: rgb(52 78 23);
  --teal: rgb(0 107 96);
  --on-teal: rgb(255 255 255);
  --teal-container: rgb(158 242 227);
  --on-teal-container: rgb(0 80 72);
  --medium-teal: rgb(0 106 106);
  --on-medium-teal: rgb(255 255 255);
  --medium-teal-container: rgb(156 241 240);
  --on-medium-teal-container: rgb(0 80 79);
  --dark-teal: rgb(0 104 120);
  --on-dark-teal: rgb(255 255 255);
  --dark-teal-container: rgb(166 238 255);
  --on-dark-teal-container: rgb(0 78 91);
  --steel-blue: rgb(31 101 134);
  --on-steel-blue: rgb(255 255 255);
  --steel-blue-container: rgb(197 231 255);
  --on-steel-blue-container: rgb(0 76 106);
  --dark-steel-blue: rgb(69 94 145);
  --on-dark-steel-blue: rgb(255 255 255);
  --dark-steel-blue-container: rgb(216 226 255);
  --on-dark-steel-blue-container: rgb(44 70 120);
  --purple: rgb(104 84 141);
  --on-purple: rgb(255 255 255);
  --purple-container: rgb(235 220 255);
  --on-purple-container: rgb(80 60 116);
  --sky-blue: rgb(76 92 146);
  --on-sky-blue: rgb(255 255 255);
  --sky-blue-container: rgb(220 225 255);
  --on-sky-blue-container: rgb(52 68 121);
  --medium-sky-blue: rgb(77 92 146);
  --on-medium-sky-blue: rgb(255 255 255);
  --medium-sky-blue-container: rgb(220 225 255);
  --on-medium-sky-blue-container: rgb(53 68 121);
  --dark-sky-blue: rgb(75 92 146);
  --on-dark-sky-blue: rgb(255 255 255);
  --dark-sky-blue-container: rgb(219 225 255);
  --on-dark-sky-blue-container: rgb(51 68 120);
  --medium-slate-blue: rgb(79 91 146);
  --on-medium-slate-blue: rgb(255 255 255);
  --medium-slate-blue-container: rgb(221 225 255);
  --on-medium-slate-blue-container: rgb(55 67 121);
  --dark-slate-blue: rgb(84 90 146);
  --on-dark-slate-blue: rgb(255 255 255);
  --dark-slate-blue-container: rgb(223 224 255);
  --on-dark-slate-blue-container: rgb(60 66 121);

  --ease-spatial-fast: cubic-bezier(0.42, 1.67, 0.21, 0.9);
  --spatial-fast: 350ms;
  --ease-spatial: cubic-bezier(0.38, 1.21, 0.22, 1);
  --spatial: 500ms;
  --ease-spatial-slow: cubic-bezier(0.39, 1.29, 0.35, 0.98);
  --spatial-slow: 650ms;
  --ease-effects-fast: cubic-bezier(0.31, 0.94, 0.34, 1);
  --effects-fast: 150ms;
  --ease-effects: cubic-bezier(0.34, 0.8, 0.34, 1);
  --effects: 200ms;
  --ease-effects-slow: cubic-bezier(0.34, 0.88, 0.34, 1);
  --effects-slow: 300ms;
  --ease-standard-spatial-fast: cubic-bezier(0.27, 1.06, 0.18, 1);
  --standard-spatial-fast: 350ms;
  --ease-standard-spatial: cubic-bezier(0.27, 1.06, 0.18, 1);
  --standard-spatial: 500ms;
  --ease-standard-spatial-slow: cubic-bezier(0.27, 1.06, 0.18, 1);
  --standard-spatial-slow: 750ms;
  --ease-standard-effects-fast: cubic-bezier(0.31, 0.94, 0.34, 1);
  --standard-effects-fast: 150ms;
  --ease-standard-effects: cubic-bezier(0.34, 0.8, 0.34, 1);
  --standard-effects: 200ms;
  --ease-standard-effects-slow: cubic-bezier(0.34, 0.88, 0.34, 1);
  --standard-effects-slow: 300ms;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.424 0.199 265.638);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --primary: oklch(0.8344 0.0928 301.32);
  --surface-tint: oklch(0.8344 0.0928 301.32);
  --on-primary: oklch(0.3211 0.0932 297.08);
  --primary-container: oklch(0.4047 0.0933 298.64);
  --on-primary-container: oklch(0.9172 0.0496 304.81);
  --secondary: oklch(0.8308 0.0364 305.44);
  --on-secondary: oklch(0.3129 0.0347 301.3);
  --secondary-container: oklch(0.3992 0.0362 302.18);
  --on-secondary-container: oklch(0.9176 0.0359 307.19);
  --tertiary: oklch(0.8357 0.069 3.79);
  --on-tertiary: oklch(0.3175 0.0572 3.56);
  --tertiary-container: oklch(0.4051 0.0596 2.72);
  --on-tertiary-container: oklch(0.9191 0.0432 5.48);
  --error: oklch(0.8383 0.0891 26.76);
  --on-error: oklch(0.3275 0.1336 27.32);
  --error-container: oklch(0.4171 0.170153 27.3788);
  --on-error-container: oklch(0.9183 0.041771 25.2259);
  --background: oklch(0.1886 0.0128 307.71);
  --on-background: oklch(0.9145 0.0131 321.9);
  --surface: oklch(0.1886 0.0128 307.71);
  --on-surface: oklch(0.9145 0.0131 321.9);
  --surface-variant: oklch(0.3977 0.0158 305.69);
  --on-surface-variant: oklch(0.8293 0.0169 313.59);
  --outline: oklch(0.6575 0.0157 308.2);
  --outline-variant: oklch(0.3977 0.0158 305.69);
  --shadow: oklch(0 0 0);
  --scrim: oklch(0 0 0);
  --inverse-surface: oklch(0.9145 0.0131 321.9);
  --inverse-on-surface: oklch(0.3107 0.0113 308.06);
  --inverse-primary: oklch(0.4905 0.0915 299.17);
  --primary-fixed: oklch(0.9172 0.0496 304.81);
  --on-primary-fixed: oklch(0.2336 0.0966 295.34);
  --primary-fixed-dim: oklch(0.8344 0.0928 301.32);
  --on-primary-fixed-variant: oklch(0.4047 0.0933 298.64);
  --secondary-fixed: oklch(0.9176 0.0359 307.19);
  --on-secondary-fixed: oklch(0.2264 0.0355 301.51);
  --secondary-fixed-dim: oklch(0.8308 0.0364 305.44);
  --on-secondary-fixed-variant: oklch(0.3992 0.0362 302.18);
  --tertiary-fixed: oklch(0.9191 0.0432 5.48);
  --on-tertiary-fixed: oklch(0.2316 0.0567 2.29);
  --tertiary-fixed-dim: oklch(0.8357 0.069 3.79);
  --on-tertiary-fixed-variant: oklch(0.4051 0.0596 2.72);
  --surface-dim: oklch(0.1886 0.0128 307.71);
  --surface-bright: oklch(0.346 0.011 308.11);
  --surface-container-lowest: oklch(0.1645 0.0128 300.23);
  --surface-container-low: oklch(0.2265 0.01 303.71);
  --surface-container: oklch(0.2436 0.0098 303.77);
  --surface-container-high: oklch(0.2865 0.0116 308.01);
  --surface-container-highest: oklch(0.3304 0.0112 308.09);

  /* TODO: convert to oklch */
  --boysenberry: rgb(255 178 188);
  --on-boysenberry: rgb(86 29 41);
  --boysenberry-container: rgb(114 51 62);
  --on-boysenberry-container: rgb(255 217 221);
  --sienna: rgb(255 182 141);
  --on-sienna: rgb(83 34 0);
  --sienna-container: rgb(111 56 19);
  --on-sienna-container: rgb(255 219 201);
  --warning: rgb(243 189 110);
  --on-warning: rgb(68 43 0);
  --warning-container: rgb(98 64 0);
  --on-warning-container: rgb(255 221 178);
  --khaki: rgb(229 195 108);
  --on-khaki: rgb(62 46 0);
  --khaki-container: rgb(89 68 0);
  --on-khaki-container: rgb(255 223 147);
  --success: rgb(176 209 139);
  --on-success: rgb(30 55 2);
  --success-container: rgb(52 78 23);
  --on-success-container: rgb(204 237 164);
  --teal: rgb(130 213 199);
  --on-teal: rgb(0 55 49);
  --teal-container: rgb(0 80 72);
  --on-teal-container: rgb(158 242 227);
  --medium-teal: rgb(128 213 212);
  --on-medium-teal: rgb(0 55 55);
  --medium-teal-container: rgb(0 80 79);
  --on-medium-teal-container: rgb(156 241 240);
  --dark-teal: rgb(131 210 229);
  --on-dark-teal: rgb(0 54 63);
  --dark-teal-container: rgb(0 78 91);
  --on-dark-teal-container: rgb(166 238 255);
  --steel-blue: rgb(145 206 244);
  --on-steel-blue: rgb(0 52 74);
  --steel-blue-container: rgb(0 76 106);
  --on-steel-blue-container: rgb(197 231 255);
  --dark-steel-blue: rgb(174 198 255);
  --on-dark-steel-blue: rgb(18 47 96);
  --dark-steel-blue-container: rgb(44 70 120);
  --on-dark-steel-blue-container: rgb(216 226 255);
  --purple: rgb(211 187 252);
  --on-purple: rgb(57 38 92);
  --purple-container: rgb(80 60 116);
  --on-purple-container: rgb(235 220 255);
  --sky-blue: rgb(181 196 255);
  --on-sky-blue: rgb(28 45 97);
  --sky-blue-container: rgb(52 68 121);
  --on-sky-blue-container: rgb(220 225 255);
  --medium-sky-blue: rgb(182 196 255);
  --on-medium-sky-blue: rgb(29 45 97);
  --medium-sky-blue-container: rgb(53 68 121);
  --on-medium-sky-blue-container: rgb(220 225 255);
  --dark-sky-blue: rgb(180 197 255);
  --on-dark-sky-blue: rgb(27 45 96);
  --dark-sky-blue-container: rgb(51 68 120);
  --on-dark-sky-blue-container: rgb(219 225 255);
  --medium-slate-blue: rgb(184 196 255);
  --on-medium-slate-blue: rgb(31 45 97);
  --medium-slate-blue-container: rgb(55 67 121);
  --on-medium-slate-blue-container: rgb(221 225 255);
  --dark-slate-blue: rgb(189 194 255);
  --on-dark-slate-blue: rgb(37 43 97);
  --dark-slate-blue-container: rgb(60 66 121);
  --on-dark-slate-blue-container: rgb(223 224 255);
}

@theme inline {
  --font-sans: "Roboto Variable", sans-serif;
  --color-sidebar-ring: var(--outline-variant);
  --color-sidebar-border: var(--outline-variant);
  --color-sidebar-accent-foreground: var(--on-primary-container);
  --color-sidebar-accent: var(--primary-container);
  --color-sidebar-primary-foreground: var(--on-primary);
  --color-sidebar-primary: var(--primary);
  --color-sidebar-foreground: var(--on-surface);
  --color-sidebar: var(--surface);
  --color-chart-5: var(--boysenberry-container);
  --color-chart-4: var(--sienna-container);
  --color-chart-3: var(--khaki-container);
  --color-chart-2: var(--teal-container);
  --color-chart-1: var(--dark-steel-blue-container);
  --color-ring: var(--outline-variant);
  --color-input: var(--outline);
  --color-border: var(--outline);
  --color-destructive: var(--error);
  --color-accent-foreground: var(--on-primary-container);
  --color-accent: var(--primary-container);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--on-secondary);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--on-primary);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--on-surface-variant);
  --color-popover: var(--surface-container);
  --color-card-foreground: var(--on-surface-variant);
  --color-card: var(--surface-container-low);
  --color-foreground: var(--on-background);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --color-primary: var(--primary);
  --color-surface-tint: var(--surface-tint);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-container: var(--secondary-container);
  --color-on-secondary-container: var(--on-secondary-container);
  --color-tertiary: var(--tertiary);
  --color-on-tertiary: var(--on-tertiary);
  --color-tertiary-container: var(--tertiary-container);
  --color-on-tertiary-container: var(--on-tertiary-container);
  --color-error: var(--error);
  --color-on-error: var(--on-error);
  --color-error-container: var(--error-container);
  --color-on-error-container: var(--on-error-container);
  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);
  --color-surface-variant: var(--surface-variant);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);
  --color-shadow: var(--shadow);
  --color-scrim: var(--scrim);
  --color-inverse-surface: var(--inverse-surface);
  --color-inverse-on-surface: var(--inverse-on-surface);
  --color-inverse-primary: var(--inverse-primary);
  --color-primary-fixed: var(--primary-fixed);
  --color-on-primary-fixed: var(--on-primary-fixed);
  --color-primary-fixed-dim: var(--primary-fixed-dim);
  --color-on-primary-fixed-variant: var(--on-primary-fixed-variant);
  --color-secondary-fixed: var(--secondary-fixed);
  --color-on-secondary-fixed: var(--on-secondary-fixed);
  --color-secondary-fixed-dim: var(--secondary-fixed-dim);
  --color-on-secondary-fixed-variant: var(--on-secondary-fixed-variant);
  --color-tertiary-fixed: var(--tertiary-fixed);
  --color-on-tertiary-fixed: var(--on-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--tertiary-fixed-dim);
  --color-on-tertiary-fixed-variant: var(--on-tertiary-fixed-variant);
  --color-surface-dim: var(--surface-dim);
  --color-surface-bright: var(--surface-bright);
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface-container-low: var(--surface-container-low);
  --color-surface-container: var(--surface-container);
  --color-surface-container-high: var(--surface-container-high);
  --color-surface-container-highest: var(--surface-container-highest);

  --color-boysenberry: var(--boysenberry);
  --color-on-boysenberry: var(--on-boysenberry);
  --color-boysenberry-container: var(--boysenberry-container);
  --color-on-boysenberry-container: var(--on-boysenberry-container);
  --color-sienna: var(--sienna);
  --color-on-sienna: var(--on-sienna);
  --color-sienna-container: var(--sienna-container);
  --color-on-sienna-container: var(--on-sienna-container);
  --color-warning: var(--warning);
  --color-on-warning: var(--on-warning);
  --color-warning-container: var(--warning-container);
  --color-on-warning-container: var(--on-warning-container);
  --color-khaki: var(--khaki);
  --color-on-khaki: var(--on-khaki);
  --color-khaki-container: var(--khaki-container);
  --color-on-khaki-container: var(--on-khaki-container);
  --color-success: var(--success);
  --color-on-success: var(--on-success);
  --color-success-container: var(--success-container);
  --color-on-success-container: var(--on-success-container);
  --color-teal: var(--teal);
  --color-on-teal: var(--on-teal);
  --color-teal-container: var(--teal-container);
  --color-on-teal-container: var(--on-teal-container);
  --color-medium-teal: var(--medium-teal);
  --color-on-medium-teal: var(--on-medium-teal);
  --color-medium-teal-container: var(--medium-teal-container);
  --color-on-medium-teal-container: var(--on-medium-teal-container);
  --color-dark-teal: var(--dark-teal);
  --color-on-dark-teal: var(--on-dark-teal);
  --color-dark-teal-container: var(--dark-teal-container);
  --color-on-dark-teal-container: var(--on-dark-teal-container);
  --color-steel-blue: var(--steel-blue);
  --color-on-steel-blue: var(--on-steel-blue);
  --color-steel-blue-container: var(--steel-blue-container);
  --color-on-steel-blue-container: var(--on-steel-blue-container);
  --color-dark-steel-blue: var(--dark-steel-blue);
  --color-on-dark-steel-blue: var(--on-dark-steel-blue);
  --color-dark-steel-blue-container: var(--dark-steel-blue-container);
  --color-on-dark-steel-blue-container: var(--on-dark-steel-blue-container);
  --color-purple: var(--purple);
  --color-on-purple: var(--on-purple);
  --color-purple-container: var(--purple-container);
  --color-on-purple-container: var(--on-purple-container);
  --color-sky-blue: var(--sky-blue);
  --color-on-sky-blue: var(--on-sky-blue);
  --color-sky-blue-container: var(--sky-blue-container);
  --color-on-sky-blue-container: var(--on-sky-blue-container);
  --color-medium-sky-blue: var(--medium-sky-blue);
  --color-on-medium-sky-blue: var(--on-medium-sky-blue);
  --color-medium-sky-blue-container: var(--medium-sky-blue-container);
  --color-on-medium-sky-blue-container: var(--on-medium-sky-blue-container);
  --color-dark-sky-blue: var(--dark-sky-blue);
  --color-on-dark-sky-blue: var(--on-dark-sky-blue);
  --color-dark-sky-blue-container: var(--dark-sky-blue-container);
  --color-on-dark-sky-blue-container: var(--on-dark-sky-blue-container);
  --color-medium-slate-blue: var(--medium-slate-blue);
  --color-on-medium-slate-blue: var(--on-medium-slate-blue);
  --color-medium-slate-blue-container: var(--medium-slate-blue-container);
  --color-on-medium-slate-blue-container: var(--on-medium-slate-blue-container);
  --color-dark-slate-blue: var(--dark-slate-blue);
  --color-on-dark-slate-blue: var(--on-dark-slate-blue);
  --color-dark-slate-blue-container: var(--dark-slate-blue-container);
  --color-on-dark-slate-blue-container: var(--on-dark-slate-blue-container);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
